# App
APP_HOST=quadruple-square
APP_PORT=3000

# DB
DB_HOST=localhost
DB_NAME=quadruple
DB_USER=adminuser
DB_PASSWORD=password
DB_PORT=5432

# Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@quadruple-square.com  
ADMIN_PASSWORD=admin123
ADMIN_CURRENCY=4181