<h1>Your Collection</h1>

<div class="collection">
  <% if (collection && collection.length > 0) { %>
  <% collection.forEach(row => { %>
    <% if (row.amount > 0) { %>
      <button type="submit" class="card <%= row.Card.rarity.toLowerCase() %> selectable"
        formaction="/players/<%= playerId %>/game-selection/add/<%= row.card_id %>">
        <%- include('card', { row: row, showAmount: true }) %>
      </button>
    <% } %>
  <% }) %>
<% } %>
</div>