<div class="game-board" id="gameContainer">
  <div class="game-header">
    <div class="score" id="score">-- vs --</div>
    <div class="turn" id="turnIndicator">Loading...</div>
  </div>

  <div class="board-display">
    <div class="player-cards p1" id="player1Hand">
    </div>
    
    <div class="selection-top" id="gameBoard">
    </div>
    
    <div class="player-cards p2" id="player2Hand">
    </div>
  </div>

  <div class="game-actions">
    <a href="/players/<%= playerId %>/newgame" id="gameMenuLink">Game menu</a>
  </div>

  <div class="steal-phase" id="stealContainer" style="display: none;">
    <h2>You've won! Please pick up a card:</h2>
    <div class="collection" id="stealableList"></div>
  </div>
</div>

<script src="/js/game-client.js"></script>
<script>
  window.gameApp = new GameClient(<%= playerId %>, <%= gameId %>);
  window.gameApp.init();
</script>