<nav class="navbar">
    <div class="nav-left"><a href="/">Home</a></div>
    <div class="nav-center">
        <a href="/">Admin Panel</a>
        <a href="/">New Game</a>
        <a href="/players/1/collection">Collection</a>
    </div>
    <div class="nav-right"><a href="/">User</a></div>
</nav>