<nav class="navbar">
    <div class="nav-left"><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></div>
    <div class="nav-center">
        <a href="/" class="<%= currentPage === 'admin' ? 'active' : '' %>">Admin Panel</a>
        <a href="/players/1/newgame" class="<%= currentPage === 'newgame' ? 'active' : '' %>">New Game</a>
        <a href="/players/1/collection" class="<%= currentPage === 'collection' ? 'active' : '' %>">Collection</a>
    </div>
    <div class="nav-right"><a href="/">User</a></div>
</nav>